body {
  margin:0;
  padding:0;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:1em;
  background:#84acd8;
  background:linear-gradient(to bottom right, #3c6898, #84acd8);
  color:#FFF;
  height:100vh;
}

a {
	color:#FFF;
	text-decoration: none;
}

#site-wrap {
  background-color: rgba(0,0,0,0.6);
}

.wrap {
  width: 600px;
  margin: 0px auto;
}

header {
	margin:0px auto;
}

header .title {
  color:#FFF;
  font-weight:bold;
  font-size:4em;
  transition:text-shadow 1s;
}

header .subtitle {
	text-align: center;
}

header .subtitle span {
    position: relative;
    top: -5px;
}

#instafeed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.insta-box {
  margin: 30px;
  width:25%;
}

.insta-box img {
  width: 100%;
  height: auto;
}