node_modules/
.DS_Store
*.log
haters/
.next/
.build/
layout.md
variables.env
*.zip
backend/export-*
backend/now.json
backend/data/*
*.env
hellopeoria/env.js
hellopeoria/pages/admin.js
hellopeoria/pages/api/check-business-status.js
hellopeoria/pages/api/update-unlisted.js
