@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,400i,500,700,700i');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$primary-color: #6bc1f8;
$secondary-color: #397fab;
$secondary-color-bold: #4ac55c;

$light-gray: #e2e2e2;
$dark-gray: #555555;

$black: #000000;
$white: #ffffff;

$free: #555555;
$family: #e2e2e2;
$sightseeing: #aa5739;
$nightlife: #29526c;
$local: #5a849e;
$foodie: #26764f;
$outdoor: #aa7839;
$events: #e79070;

@mixin rounded-corners {
  border-radius: 2px;
}

@mixin ease-transition {
  transition: 0.455s ease all;
}

@mixin button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background: $secondary-color;
  padding: 12px 20px;
  border: 2px solid transparent;
  @include rounded-corners;
  margin-top: 5px;
  cursor: pointer;
  @include ease-transition;

  &.loading {
    opacity: 0.2;
  }

  &.full-size {
    width: 80%;
    margin: 10px auto;
    display: block;
  }

  a {
    color: #ffffff;
    display: block;

    &:hover {
      color: $secondary-color;
    }
  }

  &:hover {
    background: transparent;
    color: $secondary-color;
    border: 2px solid $secondary-color;

    a {
      color: $secondary-color;
    }
  }

  &.secondary {
    background: transparent;
    color: $secondary-color;
    border: 2px solid $secondary-color;

    &:hover {
      color: #ffffff;
      background: $secondary-color;
    }
  }
}

a.button {
  @include button;
  display: block;
}

// Media Queries
$mobile-width: 300px;
$tablet-width: 767px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
