@import 'variables';
@import 'form';
@import 'loading';

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px auto;
  padding: 0px;
  font-family: $primary-font;
  max-width: 1600px;
  transition: 0.455s ease all;
}

img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: $primary-color;
}

h1,
h2,
h3 {
  margin: 10px 0px;
}

h2 {
  font-family: $secondary-font;
  font-weight: lighter;
}

ul,
ol {
  margin-left: 2em;
}

button {
  @include button;
}

.alert {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  color: $black;
  padding: 20px;
  text-align: center;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: 50px;

  @include mobile {
    flex-direction: column;
  }

  .logo {
    width: 15%;
    @include mobile {
      width: 70%;
      flex: 0 0 100%;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.account {
  display: flex;
  flex-direction: column;

  .account-name {
    position: relative;
    @include ease-transition;

    .account-details {
      position: absolute;
      width: 120px;
      right: 0px;
      display: none;
      justify-content: flex-end;
      border: 1px solid $light-gray;
      border-top: 0px;
      padding-bottom: 5px;
      @include ease-transition;
    }

    &:hover .account-details {
      display: flex;
      @include ease-transition;
    }
  }
}

.search {
  width: 60%;
  position: relative;

  @include mobile {
    width: 80%;
  }

  .search-wrapper {
    position: absolute;
    background: #ffffff;
    box-shadow: 1px 8px 15px #00000029;
    border-top: 1px solid $light-gray;
    z-index: 100;

    .search-item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      overflow: hidden;
      padding: 25px;
      border-bottom: 1px solid $light-gray;

      .image {
        width: 20%;
      }

      .name {
        font-weight: bold;
        font-size: 21px;
        width: 100%;

        .description {
          font-weight: lighter;
          font-size: 16px;
          margin-left: 25px;
        }
      }
    }
  }

  .search-button {
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: $dark-gray;

    svg {
      height: 100%;
    }
  }

  ::placeholder {
    color: $dark-gray;
    font-weight: lighter;
  }

  input {
    width: 100%;
    position: relative;
    padding: 8px 10px;
    margin: 0px auto;
    border: 0px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: bold;
    -webkit-appearance: none;
    @include rounded-corners;
    @include ease-transition;

    @include mobile {
      box-shadow: none;
      border: 1px solid $light-gray;
    }

    &:hover {
      box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      border: 0px;
      box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
      outline: none;
      @include ease-transition;
      padding: 14px 10px;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display: block;

    &:hover {
      color: $secondary-color-bold;
    }
  }
}

.hero {
  height: 500px;
  background: linear-gradient($secondary-color, $primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;

  .text {
    color: #ffffff;
    width: 50%;

    h3 {
      text-transform: uppercase;
      font-size: 44px;
      margin-bottom: 40px;
    }

    button {
      width: 45%;
    }
  }

  .image {
    width: 40%;

    img {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
      transform: rotate(2deg);
    }
  }
}

.advert {
  background: url('/static/images/advert.jpg') center center;
  background-size: cover;
  @include rounded-corners;
  position: relative;
  margin: 20px;

  @include mobile {
    margin: 20px 0px;
  }

  &::after {
    position: absolute;
    height: 20px;
    width: 100px;
  }

  .ad-inner {
    padding: 50px 250px 50px 50px;
    font-size: 3em;
    background-color: rgba(107, 193, 248, 0.85);
    @include rounded-corners;

    @include tablet {
      padding: 50px;
    }

    @include mobile {
      font-size: 1.7em;
      padding: 30px;
    }

    button {
      @include button;
      background: $secondary-color-bold;

      &:hover {
        color: #ffffff;
        border-color: #ffffff;
      }

      a:hover {
        color: #ffffff;
      }
    }
  }
}

.main {
  min-height: 650px;
  padding: 0px 10px;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }

  .sub-containter {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    @include tablet {
      flex-direction: column;
      div {
        margin-bottom: 20px;
      }
    }
    @include mobile {
      flex-direction: column;
      div {
        margin-bottom: 20px;
      }
    }

    div {
      width: 47%;

      @include mobile {
        width: 100%;
      }
    }
  }
}

.footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    padding: 0px 10px;
    border-right: 1px solid #000000;

    &:last-child {
      border-right: none;
    }
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-bottom: 10px;
  justify-content: center;
  overflow: visible;

  .card {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    margin: 14px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    flex: 0 0 auto;
    overflow: hidden;
    @include ease-transition;
    @include rounded-corners;

    @include tablet {
      width: 28%;
    }

    @include mobile {
      width: 100%;
      margin: 20px 0px 0px;
    }

    &:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
      @include mobile {
        box-shadow: 0px;
      }
    }

    .path {
      position: absolute;
      width: 100px;
      height: 50px;
      background: transparent;
      top: -16px;
      right: -52px;
      z-index: 10;
      transform: rotate(40deg);
      box-shadow: 1px 1px 12px #00000075;

      &.free {
        background: $free;
      }
      &.family {
        background: $family;
      }
      &.sightseeing {
        background: $sightseeing;
      }
      &.nightlife {
        background: $nightlife;
      }
      &.local {
        background: $local;
      }
      &.foodie {
        background: $foodie;
      }
      &.outdoor {
        background: $outdoor;
      }
      &.events {
        background: $events;
      }
    }

    a.featured-link {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .inner {
      position: relative;

      .addition-info {
        .address {
          font-weight: 300;
          padding: 20px;
          font-size: 14px;
        }

        .options {
          display: flex;
          flex-direction: row;
          justify-content: left;
          padding: 0px 20px 20px 20px;

          a {
            background: $secondary-color;
            display: block;
            color: #ffffff;
            font-size: 14px;
            text-transform: uppercase;
            padding: 4px 8px;
            margin: 0px 4px 0px 0px;
            @include rounded-corners;

            &.isDisabled {
              background: $light-gray;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .image {
      width: 100%;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      height: 200px;
      position: relative;
      display: flex;
      align-items: flex-end;

      .title-wrapper {
        background: linear-gradient(rgba(0, 0, 0, 0), black);
        padding: 20px;
        min-height: 30px;
        width: 100%;

        a {
          height: 100%;
          display: block;
        }

        .place-category {
          position: relative;
          display: table;
          margin: 10px 0px;
          padding: 10px 0px;
          z-index: 10;

          @include mobile {
            margin: 2px 0px;
          }

          span {
            font-size: 12px;
            z-index: 10;

            @include mobile {
              font-size: 10px;
            }

            a {
              text-transform: uppercase;
              background: $light-gray;
              padding: 3px 6px;
              color: #000000;
              @include rounded-corners;
              @include ease-transition;
              display: inline;

              &:hover {
                background: $dark-gray;
                color: #ffffff;
              }
            }
          }
        }

        h2 {
          font-size: 22px;
          color: #ffffff;
          display: block;

          @include mobile {
            font-size: 18px;
            margin-top: 0px;
          }
        }
      }

      @include mobile {
        height: 150px;
        min-height: 100px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .date h3 {
      text-align: center;
      position: absolute;
      z-index: 10;
      top: 0px;
      color: #ffffff;
      font-size: 0.8em;
      background-color: $secondary-color-bold;
      padding: 5px 10px;
      @include rounded-corners;
    }

    .description {
      padding: 20px;
      min-height: 70px;

      @include mobile {
        min-height: 10px;
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
      }

      button {
        width: 100%;
        border-radius: 0px;
        margin-right: 0px;
        margin-top: 0px;
      }
    }
  }

  .category {
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 400px;
    width: 22%;
    position: relative;

    @include tablet {
      width: 40%;
      height: 320px;
    }

    @include mobile {
      width: 45%;
      height: 280px;
      margin: 10px 5px 0px 5px;
    }

    a {
      color: #ffffff;
      width: 100%;
      height: 100%;
    }

    .inner {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      width: 100%;
      padding: 20px 0px;
      min-height: 20px;
      bottom: 0px;
      position: absolute;

      h2 {
        font-weight: bold;
        font-size: 24px;

        @include mobile {
          font-size: 21px;
        }
      }

      p {
        font-size: 14px;
        font-weight: 100;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    &.coffee {
      background-image: url('../public/categories/coffee.jpg');
    }
    &.event {
      background-image: url('../public/categories/events.jpg');
    }
    &.restaurant {
      background-image: url('../public/categories/restaurants.jpg');
    }
    &.breakfast {
      background-image: url('../public/categories/breakfast.jpg');
    }
    &.bar {
      background-image: url("../public/categories/bars.jpg");
    }
  }
}

.homepage {
  .path-title {
    margin-left: 20px;
  }

  .card-wrapper.home {
    position: relative;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: left;
    padding: 10px 0px 50px 0px;

    @include mobile {
      padding: 10px 0px;
    }

    .card {
      width: 25%;

      @include mobile {
        width: 40%;
        margin-right: 10px;

        .image {
          height: 200px;

          .title-wrapper h2 {
            font-size: 16px;
          }
        }
      }

      .inner,
      .footer {
        display: none;
      }
    }
  }
}

.paths-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .path {
    @include button;
    padding: 0px;
    margin: 10px 10px;

    @include mobile {
      width: 25%;
    }

    &:hover {
      color: #ffffff;
      border-color: transparent;
    }

    a {
      padding: 12px 20px;

      @include mobile {
        padding: 10px;
      }

      &:hover {
        color: #ffffff;
      }
    }

    &.free {
      background: $free;
    }
    &.family {
      background: $family;
      a {
        color: #000000;
      }
    }
    &.sightseeing {
      background: $sightseeing;
    }
    &.nightlife {
      background: $nightlife;
    }
    &.local {
      background: $local;
    }
    &.foodie {
      background: $foodie;
    }
    &.outdoor {
      background: $outdoor;
    }
    &.events {
      background: $events;
    }
  }
}

.single-place-wrapper {
  display: flex;
  justify-content: space-around;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }

  .single-place {
    width: 50%;

    @include tablet {
      width: 100%;
      margin-bottom: 20px;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }

    .image {
      background: $light-gray;
      min-height: 190px;
      min-width: 100%;

      @include mobile {
        min-height: 90px;
        background: initial;
      }
    }

    .address {
      margin: 10px 0px;
      font-weight: lighter;
      font-size: 14px;
    }
  }

  .map {
    width: 45%;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    iframe {
      width: 100%;
    }
  }
}

.upload-form {
  img {
    width: initial;
    height: auto;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;

  .prev,
  .next {
    border: 1px solid $light-gray;
    @include rounded-corners;
    padding: 10px 15px;
  }
  .prev {
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .next {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .num-pages {
    border: 1px solid $light-gray;
    padding: 10px 15px;
  }
}

.users-wrapper {
  .user-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: $secondary-color-bold;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      width: 10%;
      overflow: auto;
    }
  }
}
